@font-face {
  font-family: Averta;
  src: url(Averta/averta-webfont.ttf);
}

/* Responsive Font-Sizing */

html {
  font-size: 2vw;
}

#cornell-info-2,
#ucla-info-2,
#blockchain-info,
#blockchain-info-2,
#blockchain-info-3,
#website-info-2,
#project-one-info,
#project-two-info,
#extra-projects {
  font-size: 0.8em;
  line-height: 1.7em;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

#project-one-info {
  margin: 0;
}

#project-two-info {
  margin-bottom: 0;
}

#blockchain-info {
  padding-top: 0.5em;
  margin: 0;
}

#blockchain,
#education,
#projects {
  font-size: 2em;
  padding-top: 0.5em;
}

#blockchain {
  margin: 0;
}

#cornell-info,
#ucla-info,
#website-info,
#project-one-title,
#project-two-title,
#website-info-app {
  font-size: 1em;
  padding-top: 0.5em;
  font-weight: bold;
}

.down-icon,
.fa-angle-up {
  padding-top: 0.5em;
}

#intro {
  font-size: 2em;
  letter-spacing: 0.03em;
}

#more-about {
  font-size: 1em;
  letter-spacing: 0.01em;
  padding-top: 0.7em;
}

.intro-raise {
  position: relative;
  bottom: 0.5em;
}

.float-image {
  max-width: 25%;
  max-height: auto;
  margin-right: 0.5em;
  margin-left: 2em;
  padding: 0;
  border-radius: 10px;
}

@media screen and (max-width: 766px) {
  html {
    font-size: 2.5vh;
  }

  #cornell-info-2,
  #ucla-info-2,
  #blockchain-info,
  #blockchain-info-2,
  #blockchain-info-3,
  #website-info-2,
  #project-one-info,
  #project-two-info,
  #extra-projects {
    font-size: 0.8em;
    line-height: 1.6em;
    padding-left: 1em;
    padding-right: 1em;
  }

  #project-one-info {
    margin-bottom: 0;
  }

  #project-two-info {
    margin-bottom: 0;
  }

  #blockchain-info {
    padding-top: 0.5em;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }

  #blockchain,
  #education,
  #projects {
    font-size: 2em;
    padding-top: 0;
  }

  #blockchain {
    margin: 0;
  }

  #cornell-info,
  #ucla-info,
  #website-info {
    font-size: 1em;
    padding-top: 0.75em;
    font-weight: bold;
  }

  #project-one-title,
  #project-two-title {
    padding-top: 0.75em;
    font-weight: bold;
  }

  .down-icon,
  .fa-angle-up {
    padding-top: 0.75em;
  }

  #intro {
    font-size: 2em;
    letter-spacing: 0.03em;
  }

  #more-about {
    font-size: 1em;
    letter-spacing: 0.01em;
    padding-top: 0.7em;
  }

  .intro-raise {
    position: relative;
    bottom: 4.5em;
  }

  .float-image {
    max-width: 33%;
    max-height: auto;
    margin-right: 0.5em;
    margin-left: 0.75em;
    padding: 0;
    border-radius: 10px;
  }

  .fullscreen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: relative;
  }
}

body {
  font-family: Averta;
  background-color: rgb(216, 220, 238);
  /*background-image: linear-gradient(to left top, #dd8927, #dd8225, #dd7b23, #dd7422, #dd6d22, #df7226, #e27629, #e47b2d, #ea8c37, #f09d43, #f5ae51, #fbbe5f);*/
  color: rgb(22, 14, 14);
}

h1 {
  letter-spacing: 0.02em;
  padding-bottom: 0.2em;
}

a:link {
  color: rgb(22, 14, 14);
  text-decoration: underline;
}

a:visited {
  color: rgb(22, 14, 14);
  text-decoration: underline;
}

a:hover {
  color: rgb(80, 81, 74);
  text-decoration: underline;
}

a:active {
  color: rgb(22, 14, 14);
  text-decoration: none;
}

.no-padding {
  padding: 0;
}

.built {
  margin: 0;
}

#container-element {
  padding: 0 !important;
}

.row {
  margin: 0 !important;
  padding-right: -15px !important;
  padding-left: -15px !important;
  width: 100%;
}

#cornell-info-2 {
  margin-bottom: 0;
}
